* {
    scroll-behavior: smooth;
}

body{
    background-color: #171717;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #A80000 !important;
}

.navbar-collapse {
    justify-content: flex-end !important;
}

.logo {
    width: 18%;
}

.logoTalent {
    width: 100%;
}

.card {
    border-radius: 1.5rem;
    background: #171717;
    color: white;
}

.card .face.face1 {
    background: #333;
    border-radius: 1.5rem;

    z-index: 1;
    transform: translateY(100px);
}

.card:hover .face.face1 {
    background: #A80000;
    transform: translateY(0);
    transition: transform .3s ease-out;
}

.card .face.face1 .projet-content {
    opacity: 0.2;
    transition: 0.5s;
}

.card:hover .face.face1 .projet-content {
    opacity: 1;
}

.logoEnt{
    width: 235px;
    margin: 150px 0px;
    transform: translate(50%, 50%);
}

.featurette {
    box-shadow: 5px 15px 5px rgba(0, 0, 0, 0.2);
    color: white;
}
#buttonEnt {
    width: 500px !important;
    height: 500px !important;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone {
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

/********************************************************************************************************/
/**BOOK */
.book-section h1 {
    font-family: 'Righteous';
    color: white;
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
}

#cover h2 {
    font-family: 'righteous';
    color: #171717;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 10%;
}

#back-cover h2 {
    font-family: 'righteous';
    color: #171717;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 90%;
}

#cover img {
    position: relative;
    width: 170%;
    margin-top: 16%;
    display: flex;
    align-items: center;
    margin-left: -35%;
}

#cover p {
    font-family: 'Play';
    color: white;
    text-align: center;
    font-size: 9px;
    letter-spacing: 1px;
    margin-top: 20%;
}

.bookcontainer p {
    font-family: 'play';
    font-size: 13px;
    margin-left: 5%;
    text-align: left;
}

.bookcontainer h3 {
    font-family: 'Righteous';
    font-size: 16px;
    margin-top: 20%;
}

.logoLycee {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

.logoIUT {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
}

.book-section {
    height: 100vh;
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

.book-section>.bookcontainer {
    height: 400px;
    width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2%;
    margin-bottom: 30px;
    perspective: 1200px;
}

.bookcontainer>.right {
    position: absolute;
    height: 100%;
    width: 50%;
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.book-section>.bookcontainer>.right {
    right: 0;
    transform-origin: left;
    border-radius: 10px 0 0 10px;
}

.right>figure.front,
.right>figure.back {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 200%;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-color: white;
    overflow: hidden;
}

.right>figure.front {
    background-position: right;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 15px -2px rgba(0, 0, 0, 0.2);
}

.right>figure.back {
    background-position: left;
    border-radius: 10px 0 0 10px;
    box-shadow: -2px 2px 15px -2px rgba(0, 0, 0, 0.2);
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(-180deg);
}

.flip::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-out;
}

.book-section>button {
    border: 2px solid gray;
    background-color: transparent;
    color: gray;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: 0.5s ease-in-out;
}

.book-section>button:focus,
.book-section>button:active {
    outline: none;
}

.book-section>p>a {
    text-decoration: none;
    color: gray;
}

.book-section>button:hover {
    background-color: gray;
    color: #fff;

    transition: all 0.5s ease-out;
}

.front#cover,
.back#back-cover {
    background-color: gray;
    font-family: calibri;
    text-align: left;
    padding: 0 30px;
}

.front#cover h1 {
    color: #fff;
}


/*************************************************************************/

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) 
and (orientation: portrait) {
    .navbar-brand {
        margin-right: 0 !important;
    }

    .logo {
        width: 100px;
    }

    .featurette {
        text-align: justify;
    }

    .logoEnt {
        width: 150px;
    }

    .book-section {
        min-width: 100%;
    }

    .book-section>.bookcontainer {
        width: 100%;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) 
and (orientation: landscape) 
{

    .logoEnt {
        width: 150px;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {
    .logoEnt {
        width: 150px;
    }
}
